html {
    scroll-behavior: smooth;
}

header {
    padding: 1.5rem 1rem;
    text-align: center;
}

h1#names {
    font-family: "Luxurious Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(4.5rem, 6.5vw, 10rem);
    white-space: nowrap;
    margin: 0;
    background: linear-gradient(180deg, #3C290B, #634413FF, #9B7A3E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

nav {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

nav.sticky-nav {
  position: sticky;
  top: 20px;
  z-index: 100;
  background-color: #4A3315;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-top: 20px;
  border-radius: 20px; 
  width: clamp(365px, 30vw, 700px);
  margin: 0 auto;
}

.nav-group {
  display: flex;
  gap: 1.5rem;
  flex: 1;
}

.nav-group.left {
  justify-content: flex-end;
  padding-right: 2rem;
}

.nav-group.right {
  justify-content: flex-start;
  padding-left: 2rem;
}

.nav-group a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.1rem;
}

.crest-container {
  position: relative;
  width: 0; /* Zero width keeps the left/right nav groups perfectly balanced */
}

.crest {
  position: absolute;
  top: 50%;
  left: 50%;
  
  /* Initial states that JS will overwrite */
  width: 350px; 
  transform: translate(-50%, 25%); 
  transform-origin: center center;
  border-radius: 50%; 
}

.invite-card {
    width: 100%;
}

.welcome-content {
    justify-content: center;
}

body.scrolled .sticky-nav {
  border-radius: 0; /* Flattens to a standard sticky header */
  width: 100%;
}

body.scrolled .crest {
  width: 60px; /* Shrinks to fit inside the bar */
  /* Pulls it up to center exactly inside the navigation bar */
  transform: translate(-50%, -50%); 
}


body {
    background-color: #fcf3e2;
    background-image: url('assets/background_texture.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;
    color: #3C290B;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

#family-crest {
    display: block;
    margin: 0 auto;
}

main {
    padding-top: 430px;
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    opacity: 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}
