html {
    scroll-behavior: smooth;
}

h1#names {
    font-family: "Luxurious Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10em;
    margin: 0em;
    text-align: center;
    background: linear-gradient(180deg, #3C290B, #634413FF, #9B7A3E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    hyphens: auto;
}

nav {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    list-style: none;
    background: linear-gradient(180deg, #3C290B, #3C290B, #634413FF);
    border-radius: 30px;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #4A3315;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  
  /* Initial states that JS will overwrite */
  border-radius: 20px; 
  width: 90%;
  margin: 0 auto;
}

.nav-group {
  display: flex;
  gap: 3rem;
  flex: 1;
}

.nav-group.left {
  justify-content: flex-end;
  padding-right: 4rem;
}

.nav-group.right {
  justify-content: flex-start;
  padding-left: 4rem;
}

.nav-group a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.1rem;
}

.crest-container {
  position: relative;
  width: 0; /* Zero width keeps the left/right nav groups perfectly balanced */
}

.crest {
  position: absolute;
  top: 50%;
  left: 50%;
  
  /* Initial states that JS will overwrite */
  width: 350px; 
  transform: translate(-50%, 30px); 
  transform-origin: center center;
  border-radius: 50%; 
}

body.scrolled .sticky-nav {
  border-radius: 0; /* Flattens to a standard sticky header */
  width: 100%;
}

body.scrolled .crest {
  width: 60px; /* Shrinks to fit inside the bar */
  /* Pulls it up to center exactly inside the navigation bar */
  transform: translate(-50%, -50%); 
}

.nav-link {
    diplay: inline-block;
    padding: 0.3em 0.5em;
    color: #E7DFD4FF;
    text-decoration: none;
    padding-bottom: 6px;
    font-size: 1.7em;
}

.nav-link:hover {
    border-image: linear-gradient(90deg, #634413FF, #9B7A3E, #634413FF) 1;
    background-color: rgba(99, 68, 19, 0.1);
}

.nav-link:active {
    transform: scale(0.95);
}

body {
    background-color: #E7DFD4FF;
    color: #3C290B;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

#family-crest {
    display: block;
    margin: 0 auto;
}

main {
    width: 1000px;
    display: block;
    margin: 0 auto;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}
